@{
    ViewBag.Title = "About";
}
<!--<h2>@ViewBag.Title.</h2>-->
<!--<h3>@ViewBag.Message</h3>-->
<div style=" display: flex; flex-direction: column" style="margin: 10px auto; padding: 0px 100px 0px 100px; margin-top: 20px ">
    <!--titlul site ului-->
    <div style="font-family: Calibri; margin-bottom: 50px; margin-top: 20px; text-align: center; font-size:28px"><b>  DESPRE NOI</b></div>
    <!--sectiune de descriere a proiectului-->
        <div style="flex-direction: column; margin-bottom: 20px" class="text-center">
            <div style="text-align: center; font-size: 25px; margin-bottom:15px"> Proiectul nostru</div>
            <div style="text-align:justify; font-size: 18px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        </div> 
    <!--prezentarea echipei-->
        <div style="flex-direction:column;background-color: pink" class="text-center">
        <div  style="font-size: 25px; margin-top: 5px; margin-bottom: 15px; background-color:pink">Echipa noastra</div>
        <div style="display:flex;flex-direction:row; margin:0 auto; text-align: center; background-color:pink ">
            <div style=" flex-direction:column; margin-right:40px; font-size:18px; text-align:center">
                <div> Maria Filofteea</div>
                <div>
                    <img src="~/Content/Images/femeie.jpg" alt="Maria Filofteea" width="200px" height="200px" style="border-radius: 100px 100px "/>
                </div>
                <div>
                    Manager general
                </div>
            </div>
            <div style=" flex-direction: column; margin-left: 50px; font-size: 18px">
                <div> Melinda Kotai</div>
                <div>
                    <img src="~/Content/Images/femeie.jpg" alt="Melinda Kotai"  width="200px" height="200px" style="border-radius: 100px 100px "/>
                </div>
                <div>
                    Manager general
                </div>
            </div>
        </div>
        </div>

    </div
</div>
